{{ define "people" }}
<section class="people wow fadeIn center">
    <div class="container">
        <h3 class="title people-grid-title">PEOPLE</h3>
    </div>
    <div class="people-grid-area">
        <% works.forEach(function(work){ %>
            <div class="grid-item container">
                <img src="/images/rectangle.png" width="100%" />
                <h4 class="fullname">Nguyen Thanh Duong</h4>
                <h5 class="short-name">DuongNT</h5>
                <p class="position-job">Position Job</p>
            </div>
            <% }) %>
    </div>
</section>

{{ end }}