{{ define "top-slider" }}
<section data-wow-iteration="1" data-wow-duration="0.5" class="work wow fadeIn">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="16" init="false"
        pagination="true" slides-per-view="auto">
        {{ range .slides }}
        <swiper-slide>
            <div class="swiper-slide-image container" style="background-image: url(/static/assets/images/rectangle.png);">
                <div class="swiper-slide-description type">
                    <h5>TYPE</h5>
                    <p>
                        {{ .Type }}
                    </p>
                </div>
                <div class="swiper-slide-description desc">
                    <h5>DESCRIPTION</h5>
                    <p>
                       {{ .Description }}
                    </p>
                </div>
                <div class="swiper-slide-description year">
                    <h5>YEAR</h5>
                    <p>
                        {{ .Year }}
                    </p>
                </div>
            </div>
            <div class="container">
                <h4 class="swiper-slide-title">{{ .Title }}</h4>
                <div class="skills">
                    {{ range .Skills }}
                    <div class="skills__item">
                        <span class="skills__item__dot {{ .Color }}"></span>
                        <span>{{ .Name }}</span>
                    </div>
                    {{ end }}
                </div>
            </div>
        </swiper-slide>
        {{ end }}
    </swiper-container>
    <div class="pagination container">
        <button class="swiper-button-prev">
            <svg width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M34.0833 12C34.0833 12.6904 33.5237 13.25 32.8333 13.25L2.83216 13.25C2.14181 13.25 1.58216 12.6904 1.58216 12C1.58216 11.3096 2.14181 10.75 2.83216 10.75L32.8333 10.75C33.5237 10.75 34.0833 11.3096 34.0833 12Z"
                    fill="#14142B" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.2998 22.9602C9.76945 23.4022 8.98125 23.3306 8.53928 22.8002L0.650226 13.3337C0.0063613 12.5611 0.00636419 11.4388 0.650227 10.6662L8.53928 1.19972C8.98125 0.66938 9.76945 0.59774 10.2998 1.03971C10.8301 1.48167 10.9018 2.26988 10.4598 2.80022L2.79305 12L10.4598 21.1997C10.9018 21.7301 10.8301 22.5183 10.2998 22.9602Z"
                    fill="#14142B" />
            </svg>

        </button>
        <div class="swiper-pagination">

        </div>
        <button class="swiper-button-next">
            <svg width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0.916748 12C0.916748 11.3096 1.47639 10.75 2.16675 10.75L32.1679 10.75C32.8583 10.75 33.4179 11.3096 33.4179 12C33.4179 12.6904 32.8583 13.25 32.1679 13.25L2.16675 13.25C1.47639 13.25 0.916748 12.6904 0.916748 12Z"
                    fill="#14142B" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M24.7003 1.03977C25.2306 0.597805 26.0188 0.669445 26.4608 1.19978L34.3498 10.6663C34.9937 11.4389 34.9937 12.5612 34.3498 13.3338L26.4608 22.8003C26.0188 23.3306 25.2306 23.4023 24.7003 22.9603C24.1699 22.5183 24.0983 21.7301 24.5403 21.1998L32.207 12L24.5403 2.80028C24.0983 2.26994 24.1699 1.48173 24.7003 1.03977Z"
                    fill="#14142B" />
            </svg>
        </button>
    </div>
</section>

{{ end }}